@model EjerciciosPropuestos1_Ticona.Models.ClsEjercicio02


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejercicio-02</title>
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2><b>Ejercicio 02</b></h2>
        <br />
            <p>
                Valores Positivos : @Model.positivo
            </p>
            <p>
                Valores Negativos : @Model.negativo
            </p>
    </div>
</body>
</html>
