@model EjerciciosPropuestos1_Ticona.Models.ClsEjercicio05

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejercicio-05</title>
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2><b>Ejercicio 05</b></h2>
        <br />
        <label>Soles:</label>@Model.numero<br />
        <br />
        <label>Resultado:</label>@Model.resultado<br />
    </div>
</body>
</html>
