

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="nav navbar-default">
            <div class="container">
                <div class="collapse navbar-collapse " id="menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="~/Ejercicio01/Index">Ejercicio 1</a>
                        </li>
                        <li>
                            <a href="~/Ejercicio02/Index">Ejercicio 2</a>
                        </li>
                        <li>
                            <a href="~/Ejercicio03/Index">Ejercicio 3</a>
                        </li>
                        <li>
                            <a href="~/Ejercicio04/Index">Ejercicio 4</a>
                        </li>
                        <li>
                            <a href="~/Ejercicio05/Index">Ejercicio 5</a>
                        </li>
                        <li>
                            <a href="~/Ejercicio06/Index">Ejercicio 6</a>
                        </li>
                        <li>
                            <a href="~/Ejercicio07/Index">Ejercicio 7</a>
                        </li>
                        <li>
                            <a href="~/Ejercicio08/Index">Ejercicio 8</a>
                        </li>
                        <li>
                            <a href="~/Ejercicio10/Index">Ejercicio 10</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <h1 class="jumbotrom">
                Ejercicio Propuestos 1 MVC
            </h1>
            @RenderBody()
        </div>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/jquery-3.1.1.min.js"></script>
    </div>
</body>
</html>
