@model EjerciciosPropuestos1_Ticona.Models.ClsEjercicio08


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejercicio-08</title>
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2><b>Ejercicio 08</b></h2>
    <br />
    <div>
        <br />
        @Model.simbolo - @Model.numero
    </div>
</body>
</html>
